apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.name }}
  labels:
    {{- include "meetup.labels" . | nindent 4 }}
spec:
  {{- with .Values.minReadySeconds }}
  minReadySeconds: {{ . }}
  {{- end }}
  {{- if not .Values.hpa.enabled }}
  replicas: {{ .Values.app.replicas }}
  {{- end }}
  revisionHistoryLimit: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app.kubernetes.io/part-of: {{ .Values.app.name }}
      {{- include "meetup.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: app
        app.kubernetes.io/part-of: {{ .Values.app.name }}
        {{- include "meetup.labels" . | nindent 8 }}
      {{- with .Values.additionalLabels }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
    {{- with .Values.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ . }}
    {{- end }}
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.serviceAccount }}
      serviceAccount: {{ . }}
    {{- end }}
      containers:
        - name: {{ .Values.app.name }}
          image: "{{ .Values.image.repositoryBase }}/{{ .Values.image.repository }}{{- if .Values.image.tag }}:{{ .Values.image.tag }}{{- else }}@sha256:{{ .Values.image.shasum }}{{- end }}"
          imagePullPolicy: {{ default "IfNotPresent" .Values.image.pullPolicy }}
          # custom entrypoint
        {{- if .Values.container.command }}
          command: {{ .Values.container.command }}
        {{- end }}
        {{- if .Values.container.args }}
          args: {{ .Values.container.args }}
        {{- end }}
          env:
            {{- with .Values.additional_env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.service.internalPort }}
              protocol: TCP
          {{- if .Values.healthcheck.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.healthcheck.liveness }}
              port: {{ .Values.healthcheck.port }}
            initialDelaySeconds: {{ default "25" .Values.healthcheck.initialdelayseconds }}
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: {{ .Values.healthcheck.readiness }}
              port: {{ .Values.healthcheck.port }}
            initialDelaySeconds: {{ default "25" .Values.healthcheck.initialdelayseconds }}
            periodSeconds: 10
            successThreshold: 3
            timeoutSeconds: 5
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
