apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Values.app.name }}
  annotations:
    link.argocd.argoproj.io/external-link: https://{{ .Values.app.name }}.{{ .Values.domain }}
  labels:
    {{- include "meetup.labels" . | nindent 4 }}
spec:
  entryPoints:
  - websecure
  routes:
  - kind: Rule
    match: Host(`{{ .Values.app.name }}.{{ .Values.domain }}`)
    services:
    - kind: Service
      name: {{ .Values.app.name }}
  tls:
    secretName: {{ .Values.app.name }}-certificate
