apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Values.app.name }}
  labels:
    {{- include "meetup.labels" . | nindent 4 }}
spec:
  entryPoints:
  - websecure
  routes:
  - kind: Rule
    match: Host(`traefik.meetup-peaks.ddns.net`)
    services:
    - kind: Service
      name: {{ .Values.app.name }}
  tls:
    secretName: {{ .Values.app.name }}-certificate
